body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.print{
    width: 100vw;
    height: 100vh;
}

.sss{
    width: 800px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}